/* Styling specifikt för inloggningssidan */
.login-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 20px 30px;
  text-align: center;
}

.login-content h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.login-content p {
  color: #6c6c6c;
  margin-bottom: 30px;
}

#login-form, #register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-btn {
  background-color: #3c6eb4;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-form-btn {
  background: none;
  border: none;
  color: #3c6eb4;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}